@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

:root{

  --primaryFont: "Lexend Deca", sans-serif;
  --secondaryFont: "Big Shoulders", sans-serif;

  --Gold500: hsl(31, 77%, 52%);
  --Cyan800: hsl(184, 100%, 22%);
  --Green950: hsl(179, 100%, 13%);
  --TransparentWhite-paragraphs: hsla(0, 0%, 100%, 0.75);
  --Gray100-background-headings-buttons: hsl(0, 0%, 95%);
}
*,*::after,*::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  font-weight: 400;
}
body{
  background-color: var(--Gray100-background-headings-buttons);
   color: var(--TransparentWhite-paragraphs);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;   
}
main{
  display: flex;
  flex-direction: row; 
  border-radius: 8px;
  margin: 0px 20px;
  overflow: hidden;
}
.card{
  max-width: 300px;
  padding:45px;
}
.card.gold{
  background-color: var(--Gold500);
}

.card.cyan{
  background-color: var(--Cyan800);
}

.card.green{
  background-color: var(--Green950);
}

.card_title{
  font-family: var(--secondaryFont);
  color: var(--Gray100-background-headings-buttons);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
  padding-top: 32px;
  padding-bottom: 24px;
  text-transform: uppercase;
}

.card_description{
  font-family: var(--primaryFont);
  font-size: 15px;
  font-weight: 300;
  color: var(--TransparentWhite-paragraphs);  
  line-height: 1.65;
  padding-bottom: 80px;
}

.card_button{
  background-color: var(--Gray100-background-headings-buttons);
  font-family: var(--primaryFont);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 130px;
  border: 2px solid var(--Gray100-background-headings-buttons);
  border-radius: 25px;
  transition: .3s ease;
}
.card.gold .card_button{
  color: var(--Gold500);
}
.card.cyan .card_button{
  color: var(--Cyan800);
}
.card.green .card_button{
  color: var(--Green950);
}
.card .card_button:hover{
  background-color: transparent;
  color: var(--Gray100-background-headings-buttons);
}

/*Responsive design*/
@media screen and (max-width: 880px) {
main{
  flex-direction: column; 
  margin: 30px;
}
.card{
  max-width: 880px;
  padding:40px;
}
}  
